.navbar.navbar-light.navbar-expand-md {
  margin: 5px;
}

body {
  background: url(../../assets/img/background.jpg);
}

.td-form {
  margin-right: 100px;
}

footer {
  background: none;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  margin-top: 5px;
  bottom: 0;
  color: #fff;
}

.row.td-form-wrapper {
  /*margin-top: 100px;*/
}

