.container, .container-lg, .container-md, .container-sm, .container-xl {
  text-align: center;
  padding: 20px;
}

.container .row {
  margin: 20px;
  line-height: 30px;
}

#who {
  text-align: center;
  background: #292c2f;
  color: white;
}

.container.sect {
  padding: 0px;
  color: white;
}

.h {
  padding-top: 50px;
}

.navbar-light .navbar-brand {
  font: normal 40px Cookie,Cursive;
}

.container.upsec {
  /*background: white;*/
  padding: 50px;
}

a {
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  font-weight: bolder;
  color: #b3b2a9;
  text-decoration: underline;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: rgba(0,0,0,.9);
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(30,12,12,0.5);
  font-size: 1.2rem;
}

body {
  padding: 10px;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  /*background-color: rgba(254,8,8,0.98);*/
  background: url(../../assets/img/background.jpg);
}

#upperdiv {
  /*background: rgb(0,0,0);*/
}

#ourdiv {
  /*background: white;*/
}

.photo-gallery {
  margin-top: 5px;
}

.navbar.navbar-light.navbar-expand-md {
  padding: 20px;
}

.carousel {
  position: relative;
  margin-top: 140px;
}

